body{
	background-image: url("background.png");
	background-position: center;
	background-size: 175%;
	display: flex;
	justify-content: center;
	height: 100vh;
}
.container{
	height: 520px;
	width: 430px;
	border: solid #ff6f6f 10px;
	border-radius: 3px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
  	margin-right: auto;
}
#anakayam{
	height: 280px; width: 400px;
	margin-top: 50px;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
  	margin-right: auto;	
}
p{
	font-size: 20px;
	font-weight: bold;
	font-family: comic sans ms;
}
input{
	height: 30px; width: 250px;
	text-align: center;
	padding-left: 15px;
	font-size: 14px;
	border: 2px solid #FFB6C1;
	border-radius: 3%;
	background-color: #FAFAD2;
}
button{
	height: 38px; width: 140px;
	background-color: #FFB6C1;
	border-radius: 12px;
	font-size: 15px; color: #222222;
	font-weight: bold;
	margin-top: 30px;
	border: 2px solid #FAFAD2;
}
